*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.6;
}

/* https://colorhunt.co/palette/f7fbfcd6e6f2b9d7ea769fcd */
:root {
  --primary-color: #57788b;
  --secondary-color: #f7fbfc;
  --background-color: #b9d7ea;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  /* background: url("../resources/images/") no-repeat center center fixed;
  background-size: cover; */
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 90%; /* Flexible width for small screens */
  max-width: 90%;
  margin: 0 auto;
}

/* INDEX.HTML */

.welcome__container {
  height: 100vh;
  background: url("../resources/images/welcomephoto.jpg") no-repeat center
    center fixed;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
}

.welcome__container::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
}

.welcome__card {
  padding-top: 75px;
  align-items: center;
  text-align: center;
  position: relative;
}

.welcome__photo {
  width: 250px;
}

input[type="text"] {
  width: 100%;
  color: white;
  border: none;
  border-bottom: 1px var(--secondary-color) solid;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  font-size: 20px;
  font-family: "Poiret One", sans-serif;
  font-weight: bold;
  display: list-item;
  margin-bottom: 20px;
}

input[type="text"]:focus {
  outline: none;
}

input[type="text"]::placeholder {
  color: white;
}

input[type="button"] {
  width: 100%;
  font-family: "Poiret One", sans-serif;
  color: white;
  background-color: #57788b9d;
  padding: 5px;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  cursor: pointer;
}

input[type="button"]:hover {
  opacity: 0.7;
}

.welcome__body {
  overflow: hidden;
}

/* HOME.HTML */
.home__body {
  overflow-x: hidden;
}
/* navigation */
.navigation {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 888;
}

.navigation__logo img,
.navigation__logo a {
  width: 100%;
}

.navigation__logo {
  width: 60px;
  transition: width 1s ease-in-out;
}
.navigation__logo.left-active {
  width: 100px;
}

.navigation__desktop-social-items i {
  font-size: 24px;
}

.navigation__desktop-menu-items li {
  padding-top: 5px;
}

.navigation__desktop-menu-items a {
  font-size: 18px;
  color: rgb(5, 28, 44);
}

.navigation__flex {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  transition: justify-content 1s ease-in-out;
}

.navigation__flex.active {
  background-color: rgba(185, 215, 234, 0.7) !important;
}

.navigation__flex.background-active {
  background-color: rgba(185, 215, 234, 0.7);
}
.navigation__flex.left-active {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  height: 100vh;
}
.navigation__desktop-menu {
  height: 100%;
  display: flex;
  gap: 20px;
  transition: all 1s ease-in-out;
}
.navigation__desktop-menu.left-active {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.navigation__desktop-menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  transition: all 1s ease-in-out;
}

.navigation__desktop-menu-items.left-active {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.navigation__desktop-social-items {
  display: flex;
  transition: all 1s ease-in-out;
}
.navigation__desktop-social-items.left-active {
  display: flex;
  flex-direction: column;
}

/* mobile nav */
.navigation__mobile-toggle i {
  font-size: 40px;
  cursor: pointer;
}

/* hero */
.home__body {
  background: url("../resources/images/homebackground.jpg") no-repeat center
    center fixed;
  background-size: cover;
}
.hero {
  width: 100vw;
  height: 100%;
}

.hero__info-container {
  max-width: 500px;
  margin: 0 auto;
}

.hero__container h1 {
  text-align: center;
  font-family: "Alex Brush", sans-serif;
  margin-top: 50px;
  font-size: 150px;
  font-weight: 550;
  line-height: 1;
}

.hero__container h1 span {
  font-size: 100px;
}

.hero__info-container p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}

.hero__info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__info-date {
  border-bottom: 2px solid white;
}

.hero__info-container p:nth-of-type(2) {
  margin-top: 10px;
}

.hero__containerr {
  width: 100vw;
  height: 100vh;
}

/* Mobile navigation */
.navigation__mobile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  background-color: rgba(185, 215, 234, 0.7);
  transform: translateY(-500%);
  transition: transform 0.5s ease-in-out;
}

.navigation__mobile-container.active {
  transform: translateY(0%);
}

.navigation__mobile-menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.navigation__mobile-menu-items a {
  color: rgb(5, 28, 44);
  font-size: 18px;
}

/* Wedding and Reception venue */
.wedding-info {
  margin: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wedding-info__flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wedding-info__flex--1 {
  text-align: center;
  align-items: center;
  border-right: 3px solid black;
  width: 500px;
}
.wedding-info__flex--2 {
  text-align: center;
  align-items: center;
  width: 500px;
}

.wedding-info__flex--1 h2,
.wedding-info__flex--2 h2 {
  font-family: "stella wilson", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 60px;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}
.wedding-info__flex--1 p,
.wedding-info__flex--2 p {
  font-weight: 400;
  font-size: 25px;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

/* Video Preview */
.video-preview {
  width: 100vw;
}

.video-preview__video-wrapper {
  text-align: center;
  margin: 0 auto;
  width: 40vw;
  height: 100%;
  position: relative;
}

.video-preview__video-wrapper img {
  width: 100%;
  border-radius: 10px;
}

.video-preview__video-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 777;
  display: block;
  box-sizing: content-box;
  width: 2rem;
  height: 2.75rem;
  border-radius: 50%;
  cursor: pointer;
  padding: 1.25rem 1.25rem 1.25rem 1.75rem;
}

.video-preview__video-play-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  background-color: #00c9db;
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 50%;
  display: block;
  transition: all 200ms;
}

.video-preview__video-play-button span {
  position: relative;
  display: block;
  z-index: 3;
  top: 0.375rem;
  left: 0.25rem;
  width: 0;
  height: 0;
  border-left: 1.625rem solid white;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
}

.video-preview__video-play-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  display: block;
  width: 4.75rem;
  height: 4.75rem;
  background-color: #00c9db;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation: pulse-border 1500ms ease-out infinite;
}

/* Dress code info */
.dress-code {
  margin: 0 auto;
}

.dress-code__container {
  text-align: center;
}
.dress-code__container h2 {
  font-family: "stella wilson", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 65px;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}
.dress-code__photo-info-flex {
  display: flex;
  gap: 2rem;
}
.dress-code__image-wrapper img {
  width: 250px;
}
.dress-code__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  text-align: end;
  flex: 1;
}
.dress-code__info-wrapper {
  text-align: start;
  flex: 1;
}

.dress-code__info-wrapper h3 {
  line-height: 0.8;
  font-family: "stella wilson", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 45px !important;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.dress-code__info-wrapper p:first-of-type {
  margin-bottom: 1rem;
}
.dress-code__info-wrapper h4:nth-of-type(2) {
  margin-bottom: 3rem;
}
.dress-code__info-wrapper h4,
.dress-code__info-wrapper p {
  font-weight: 400;
  font-size: 20px;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}
.dress-code__container h3 {
  margin-top: 20px;
  font-weight: 400;
  font-size: 25px;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}
.dress-code__color-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.dress-code_color {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

.color1 {
  background-color: #000080;
}

.color2 {
  background-color: #2c3a74;
}

.color3 {
  background-color: #56678b;
}
.color4 {
  background-color: #8a9db1;
}
.color5 {
  background-color: #bfc5cc;
}
.color6 {
  background-color: #c0c0c0;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) scale(1.5);
    opacity: 0;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  max-width: 600px;
  position: relative;
}

.modal__close-button {
  color: white;
  position: absolute;
  top: 0.1px;
  right: 20px;
  font-size: 40px;
  font-weight: 300;
  cursor: pointer;
  z-index: 9999;
}

/* MEDIA QUERY */
@media (max-width: 768px) {
  /* INDEX.HTML */
  .welcome__photo {
    width: 200px;
  }

  .welcome__card {
    padding-top: 25px;
  }

  /* HOME.HTML */
  .navigation__desktop-menu {
    flex-direction: row !important;
  }

  .navigation__desktop-menu-items {
    flex-direction: row !important;
  }

  .navigation__desktop-social-items {
    flex-direction: row !important;
  }
  .navigation__desktop-menu-items,
  .navigation__desktop-social-items {
    display: none !important;
  }
  .navigation__flex {
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    height: 60px !important;
    width: 100vw !important;
    background-color: rgba(0, 0, 0, 0) !important;
    transition: background-color 0.6s ease-in-out;
  }
  .navigation__logo {
    width: 60px !important;
  }

  .home__body {
    background: url("../resources/images/homebackgroundmobile.png") no-repeat
      center center fixed;
    background-size: cover;
  }

  .hero__container h1 {
    font-size: 100px;
  }

  .hero__container h1 span {
    font-size: 75px;
  }

  .hero__info-container p {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }
  .hero__info-container p:nth-of-type(2) {
    margin-top: 20px;
  }

  .video-preview__video-wrapper {
    width: 90%;
  }
  /* .video-preview__video-button,
  .video-preview__video-play-button,
  .video-preview__video-play-button span{
    cursor: pointer;
  } */
  .wedding-info__flex--1 h2,
  .wedding-info__flex--2 h2 {
    font-size: 45px;
  }
  .wedding-info__flex--1 p,
  .wedding-info__flex--2 p {
    font-weight: 400;
    font-size: 1.2rem;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
      1px 1px 0 black;
  }

  .wedding-info__flex--1 {
    border-right: none;
  }

  .wedding-info__flex--1 {
    padding-bottom: 25px;
  }

  .wedding-info__flex {
    flex-direction: column;
  }

  .wedding-info__flex--1,
  .wedding-info__flex--2 {
    width: 90%;
  }
  iframe {
    width: 100%;
  }

  .video-preview__video-play-button {
    z-index: 1000;
  }

  .dress-code__photo-info-flex {
    gap: 5px;
  }

  .dress-code__image-wrapper img {
    width: 170px;
  }

  .dress-code__container h2 {
    font-size: 45px !important;
  }

  .dress-code__info-wrapper h3 {
    font-size: 35px !important;
  }

  .dress-code__info-wrapper p:first-of-type {
    margin-bottom: 1rem;
  }
  .dress-code__info-wrapper h4:nth-of-type(2) {
    margin-bottom: 2rem;
  }
  .dress-code__info-wrapper h4,
  .dress-code__info-wrapper p {
    font-weight: 400;
    font-size: 15px;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
      1px 1px 0 black;
  }

  .dress-code__color-container {
    gap: 5px;
  }
  .dress-code_color {
    height: 50px;
    width: 50px;
  }
}

@media (min-width: 768px) {
  /* INDEX.HTML */
  .navigation__mobile-toggle {
    display: none;
  }
}
