*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.6;
}

/* https://colorhunt.co/palette/f7fbfcd6e6f2b9d7ea769fcd */
:root {
  --primary-color: #57788b;
  --secondary-color: #f7fbfc;
  --background-color: #b9d7ea;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  /* background: url("../resources/images/") no-repeat center center fixed;
  background-size: cover; */
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 90%; /* Flexible width for small screens */
  max-width: 90%;
  margin: 0 auto;
}

/* INDEX.HTML */

.welcome__container {
  height: 100vh;
  background: url("../resources/images/welcomephoto.jpg") no-repeat center
    center fixed;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
}

.welcome__container::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
}

.welcome__card {
  padding-top: 75px;
  align-items: center;
  text-align: center;
  position: relative;
}

.welcome__photo {
  width: 250px;
}

input[type="text"] {
  width: 100%;
  color: white;
  border: none;
  border-bottom: 1px var(--secondary-color) solid;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  font-size: 20px;
  font-family: "Poiret One", sans-serif;
  font-weight: bold;
  display: list-item;
  margin-bottom: 20px;
}

input[type="text"]:focus {
  outline: none;
}

input[type="text"]::placeholder {
  color: white;
}

input[type="button"] {
  width: 100%;
  font-family: "Poiret One", sans-serif;
  color: white;
  background-color: #57788b9d;
  padding: 5px;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  cursor: pointer;
}

input[type="button"]:hover {
  opacity: 0.7;
}

.welcome__body {
  overflow: hidden;
}

/* HOME.HTML */
.home__body {
  overflow-x: hidden;
}
/* navigation */
.navigation {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navigation__logo img,
.navigation__logo a {
  width: 100%;
}

.navigation__logo {
  width: 60px;
  transition: width 1s ease-in-out;
}
.navigation__logo.left-active {
  width: 100px;
}

.navigation__desktop-social-items i {
  font-size: 24px;
}

.navigation__desktop-menu-items li {
  padding-top: 5px;
}

.navigation__desktop-menu-items a {
  font-size: 18px;
  color: rgb(5, 28, 44);
}

.navigation__flex {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  transition: justify-content 1s ease-in-out;
}

.navigation__flex.active {
  background-color: rgba(185, 215, 234, 0.7) !important;
}

.navigation__flex.background-active {
  background-color: rgba(185, 215, 234, 0.7);
}
.navigation__flex.left-active {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  height: 100vh;
}
.navigation__desktop-menu {
  height: 100%;
  display: flex;
  gap: 20px;
  transition: all 1s ease-in-out;
}
.navigation__desktop-menu.left-active {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.navigation__desktop-menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  transition: all 1s ease-in-out;
}

.navigation__desktop-menu-items.left-active {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.navigation__desktop-social-items {
  display: flex;
  transition: all 1s ease-in-out;
}
.navigation__desktop-social-items.left-active {
  display: flex;
  flex-direction: column;
}

/* mobile nav */
.navigation__mobile-toggle i {
  font-size: 40px;
  cursor: pointer;
}

/* hero */
.home__body {
  background: url("../resources/images/homebackground.jpg") no-repeat center
    center fixed;
  background-size: cover;
}
.hero {
  width: 100vw;
  height: 100vh;
}

.hero__info-container {
  max-width: 500px;
  margin: 0 auto;
}

.hero__container h1 {
  text-align: center;
  font-family: "Alex Brush", sans-serif;
  margin-top: 50px;
  font-size: 150px;
  font-weight: 550;
  line-height: 1;
}

.hero__info-container p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}

.hero__info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__info-date {
  border-bottom: 2px solid white;
}

.hero__info-container p:nth-of-type(2) {
  margin-top: 30px;
}

.hero__containerr {
  width: 100vw;
  height: 100vh;
}

/* Mobile navigation */
.navigation__mobile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  background-color: rgba(185, 215, 234, 0.7);
  transform: translateY(-500%);
  transition: transform 0.5s ease-in-out;
}

.navigation__mobile-container.active {
  transform: translateY(0%);
}

.navigation__mobile-menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.navigation__mobile-menu-items a {
  color: rgb(5, 28, 44);
  font-size: 18px;
}

/* MEDIA QUERY */
@media (max-width: 768px) {
  /* INDEX.HTML */
  .welcome__photo {
    width: 200px;
  }

  .welcome__card {
    padding-top: 25px;
  }

  /* HOME.HTML */
  .navigation__desktop-menu {
    flex-direction: row !important;
  }

  .navigation__desktop-menu-items {
    flex-direction: row !important;
  }

  .navigation__desktop-social-items {
    flex-direction: row !important;
  }
  .navigation__desktop-menu-items,
  .navigation__desktop-social-items {
    display: none !important;
  }
  .navigation__flex {
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    height: 60px !important;
    width: 100vw !important;
    background-color: rgba(0, 0, 0, 0) !important;
    transition: background-color 0.6s ease-in-out;
  }
  .navigation__logo {
    width: 60px !important;
  }

  .home__body {
    background: url("../resources/images/homebackgroundmobile.png") no-repeat
      center center fixed;
    background-size: cover;
    height: 100vh;
  }

  .hero__container h1 {
    font-size: 130px;
  }
}

@media (min-width: 768px) {
  /* INDEX.HTML */
  .navigation__mobile-toggle {
    display: none;
  }
}
